*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.container{
    height: 450px;
    width: 600px;
    background-color: #ECFDF5;
    border-radius: .25rem;
    padding: 80px 60px;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    line-height: 28px;

}
.h1{
    color: #2B283A;
    font-size: 170%;
}
.h2{
    color: #10B981;
    font-size: 170%;
}
h4{
    color: #6B7280;
    font-weight: 400;
    font-size: 84%
}
.btn{
    background-color: #10B981;
    height: 10%;
    width: 63%;
    border: none;
    border-radius: .25rem;
    color: white;
    font-size: 87%;
    font-weight: bold;
    cursor: pointer;
    
}
hr{
    margin-top: 38px;
    border-top: 1px solid #D5D4D8;
}
.passwd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pass {
    height: 2rem;
    width:63%;
    background-color: #273549;
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content:center ;
    border-radius: .25rem;
    color: #5DEF92;
    cursor: pointer;
    border: none;

}

p{
    color: #6B7280;
    font-size: 15px;
}

@media screen and (max-width: 500px) {
    .container{
        width: 80%;
        padding: 15% 8%;

    }
    .passwd{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }
   }
/* @media screen and (max-width: 4px) {

    .container{
        background-color: #10B981;
    }
   }
   */